<!-- Navbar -->
     <nav>
        <div class="logo">
            <h1>Portfolio</h1>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About Me</a></li>
                <li><a href="/contact.html">Contact Me</a></li>
            </ul>
        </div>
        <button onclick="toggleMenu()"><i class="fa-solid fa-bars"></i></button>
     </nav>

     <div class="mobileNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
     </div>

     <!-- end of navbar -->
